.block, .none {
  background-color: black;
}

.cyan {
  background-color: cyan;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: limegreen;
}

.violet {
  background-color: violet;
}

.cyan, .blue, .orange, .red, .yellow, .green, .violet {
  position: relative;
  border-radius: 5px;
  border: 2px outset rgba(46, 46, 46, 0.199)
}

.cyan::before, .blue::before, .orange::before, .red::before, .yellow::before, .green::before, .violet::before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 23px;
  height: 23px; 
  border: 3px outset rgba(46, 46, 46, 0.199);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
