#board {
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  width: calc(350px + 18px);
  background-color: #1d1d1d;
  gap: 2px;
  border: 2px solid white;
  border-top: none;
  position: relative;
}

.board-row{
  display: grid;
  grid-template-columns: repeat(10, 35px);
  height: 35px;
  gap: 2px;
}

#difuser {
  position: absolute;
  width: 368px;
  height: 775px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: absolute;
}