.block {
  background-color: black;
}

.cyan {
  border-left: 17.5px solid transparent;
  border-right: 17.5px solid transparent;
  border-bottom: 30.2px solid cyan;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
  position: relative;
  clip-path: polygon(50% 0%, 100% 19%, 82% 100%, 18% 100%, 0% 19%);
}

.red {
  position: relative;
  background-color: red;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.yellow {
  background-color: yellow;
  position: relative;
  clip-path: polygon(50% 0%, 100% 10.1%, 100% 89.9%, 50% 100%, 0% 89.9%, 0% 10.1%);
}

.green {
  background-color: limegreen;
  position: relative;
  clip-path: polygon(50% 0%, 85.6% 14.5%, 100% 50%, 85.6% 85.5%, 50% 100%, 14.4% 85.5%, 0% 50%, 14.4% 14.5%);
}

.violet {
  background-color: violet;
  position: relative;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}